*{
    background: black;margin:0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
   
}
.glowing{
    position:relative;
  width:900px;
  height:100vh;margin:-100px;
  animation:colorchange 3s linear infinite;
    overflow: hidden;}
.glowing:nth-child(2){
    transform-origin: left;
}
@keyframes colorchange{
    0%{
        filter:hue-rotate(0deg);
        transform:rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
        transform:rotate(360deg);
    }
}
.glowing span{position:absolute;
   top:calc(80px* var(--i));
   left:calc(80px* var(--i));
   right:calc(80px* var(--i));
   bottom:calc(80px* var(--i)); 
}
.glowing span:before{
    content:"";
    position:absolute;
    top:50%;
    left:-8px;
    width:15px;
    height:15px;
    background: #f00;
    border-radius: 50%;
}
.glowing span:nth-child(1):before{
    background:rgb(162, 25, 241);
    box-shadow: 2px 2px 20px rgb(180, 16, 212)

    
}
.glowing span:nth-child(2):before{
    background:rgb(137, 255, 38);
    box-shadow: 2px 2px 20px rgb(137, 255, 38)}
    
.glowing span:nth-child(3):before{
        background:rgb(206, 23, 23);
        box-shadow: 2px 2px 20px rgb(206, 23, 23)}

 .glowing span:nth-child(1){
     animation: animate 5s  infinite ;
 }
 .glowing span:nth-child(2){
    animation: animate 7s alternate infinite ;
}
.glowing span:nth-child(3){
    animation: animate 4s alternate-reverse infinite ;
}
 @keyframes animate{
     0%{
         transform:rotate(0deg);
     }
     100%{
        transform:rotate(360deg);
    }
 }